<div class="content-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h1>Editing assistant</h1>

		<%= render 'form' %>

		<%= link_to 'Show', bus_path(@bus, @assistant) %> |
		<%= link_to 'Back', root_path %>
	</div>
</div>
