<div class="container-fluid">
	<div class="col-md-8 col-md-offset-2">
		<h1>Editing bus driver</h1>

		<%= render 'form' %>

		<%= link_to 'Show', bus_path(@bus, @bus_driver) %> |
		<%= link_to 'Back', root_path %>
	</div>
</div>