<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">
    <h1>New travel package</h1>

    <%= render 'form' %>
    <br>
    <%= link_to 'Back', travel_packages_path, class: "btn btn-default" %>
  </div>
</div>