<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @travel_package.price %>
</p>

<%= link_to 'Edit', edit_travel_package_path(@travel_package) %> |
<%= link_to 'Back', travel_packages_path %>
