<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">
    <h1>Editing package type</h1>

    <%= render 'form' %>
    <br>
    <%= link_to 'Show', @package_type, class: "btn btn-info" %> |
    <%= link_to 'Back', package_types_path, class: "btn btn-default" %>
  </div>
</div>